.sidebar-widget {
  margin-bottom: 30px;
  .widget-title {
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
  }

  input[type="search"] {
    border-radius: 0px;
    padding: 10px 20px;
    font-weight: 200;
  }

  .list li {
    font-weight: 200;
    font-size: 14px;
    padding: 5px 0px;
  }

  .tags-items {
    a {
      display: inline-block;
      color: #fff;
      background-color: orangered;
      padding: 5px 10px;
      margin: 5px;
    }
  }

  .price-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    input {
      width: 30%;
      height: 40px;
      border: 1px solid #ccc;
      padding: 0px 20px;
    }

    button {
      padding: 0px 10px;
      height: 40px;
      border: 1px solid orangered;
      background-color: orangered;
      cursor: pointer;
      color: #fff;
    }
  }
}
